body {
    background-image: url('file:/Users/Lexie.Murphy/Desktop/TrainTime/assets/images/trainPhoto.jpg')
}


h1 {
    font-size: 60px;
}

h5 {
    font-size: 20px;
    font-weight: bold;
}

.jumbotron {
    background-color: black;
    color: #fff;
    padding: 20px 20px 20px 20px;
}

.text-center {
    margin-bottom: 15px;
}

.text-center-sub {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.clock {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 30px;
}

.row {
    margin: 0;
}

thead {
    font-weight: 600;
}

th {
    border-top: none;
}

#table-container {
    width: 100%;
    border: 3px solid black;
    border-radius: 4px;
    background-color: white;
}

#table-container h5 {
    background-color: #e9ecef; 
    padding: 10px;
    color: #333;
}

#form-container {
    width: 100%;
    border: 3px solid black;
    border-radius: 4px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

#form-container h5 {
    background-color: #e9ecef; 
    padding: 10px;
    color: #333;
}

.form-group {
    padding: 20px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
}